/chat-exports
/back-end/uploads
/back-end/__pycache__
/.venv
/back-end/docs/temp.json
/imgs/Preview.gif
/imgs/VidEnhance Trailer.mp4
/imgs/webs
/back-end/google_creds.json
/back-end/obtainAuth.py
google_creds.json