@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a{
    color: #ffffff;
    text-decoration: none;
}
a:visited{
    color: #ffffff;
    text-decoration: none;
}
* {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

h1{
    margin-top: 10vh;
    color: #ffffff;
    text-align: center;
}
.uploadZone h2{
    text-align: center;
    /* display: inline; */
}
body{
    margin: 0;
    padding: 0;
    background-color: #0D1524;
}
nav {
    background-color: #1E3557;
    color: #fff;
    padding: 20px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
.uploadZone {
    margin: 0 auto;
    padding: 15px;
    width: 55vw;
    height: 100%;
    background-color: #121F31;
    border-radius: 15px;
}

input[type="file"] {
    display: none;
}

label img{
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
}

label img {
    cursor: pointer;
}
.disclaimer{
    width: 55vw;
    margin: auto;
}
.disclaimer a {
    color: #3274ca;
    text-decoration: none;
}
.disclaimer a:visited {
    color: #3274ca;
    text-decoration: none;
}

.wrapper {
    display: flex;
    max-width: 100vw;
    margin-top: 15px;
}

.dashboard-left, .dashboard-right {
    flex: 1; /* Equal width for both buttons */
    padding: 10px;
    text-align: center;
}

.dashboard-left {
    background-color: #121F31; /* Set your desired background color */
    border-radius: 15px;
    
}

.dashboard-right {
    margin-left: 10px;
    background-color: #121F31; /* Set your desired background color */
    border-radius: 15px;
}

.propertyKey{
    font-size: large;
    margin-right: 10px;
    font-weight: bold;
}

button{
    color: white;
    background-color: #3274ca;
    border: none;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* #idSubmit{
    color: white;
    background-color: #3274ca;
    border: none;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #000000;
} */

#renderDetails{
    width: 50vw;
    background-color: #121F31; /* Set your desired background color */
    border-radius: 15px;
    flex: 1; /* Equal width for both buttons */
    padding: 10px;
    text-align: center;
}

#clearHashes{
    background-color: rgb(248, 67, 67);
}

.dashboardInput {
    color: white;
    background-color: #0e3a73;
    border: none;
    border-radius: 15px;
    width: 30vw;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: text;
}

.devDashboard{
    padding: 30px;
}